doctype html
html
  head
    title Shreya Online Classes
    block scripts
    block style
  body
    nav#navbar
       ul
           div#logo
                  img(src="/static/logoi.png")
                  |E-Learn
           li  #[a(href="/") Home] 
           li  #[a(href="/AboutUs") About Us] 
           li  #[a(href="/contacts") Login] 
           li  #[a(href="/ContactUs") Contact Us ]
           li  #[a(href="/") Class Info] 
    block content
    footer#footer 
       h3 Copyright© 2023 ShreyaOnlineClasses.com | All rights reserved.
    