.container{
    min-height: 85vh;
    margin-top: 50px;
}
p{
    padding: 13px;
}
h1{
    padding-left:13px;
}
.MyInput{
    padding:20px;
    margin:10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    width:50%;
    background: none;
}
#navbar{
    background-color:rgb(157, 157, 157);
}
#navbar li a:hover{
    color: black;
}
#navbar li a{
    color:white;
}
#logo{
    color: white;
}
body::before{
    content:"";
    height: 100%;
    width:100%;
    z-index:-1;
    background-image: url("/static/imgs1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    opacity:0.6;
    padding: 0;
    margin:0px;
}
.btn{
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-items: center;
    padding:15px 10px;
    font-size: 15px;
    border: 2px solid black;
    background:none;
    border-radius: 12px;
    margin-left: 220px;
    margin-bottom: 20px;
    color:black;
}
.btn:hover{
    background-color: rgb(157, 157, 157);
}
::placeholder{
    color: black;
}
.Description{
    height:180px;
}
h2{
    font-weight: bolder;
    text-align: left;
    padding-left: 13px;
}
#footer{
    height:100 px;
    background-color: rgb(157, 157, 157);
}
.data{
    text-align: left;
    padding: 13px;
    font-weight: lighter;
}
